@model Phd.Models.PhdStudent



@{
    ViewData["Title"] = "Details";
}

<h3>БЮЛЛЕТЕНЬ</h3>

<div>
    <h4>
        к заседанию Диссертационного совета по направлению подготовки кадров    <br />

        _________________________________________________________________       <br />
        по защите докторских диссертаций в ЕНУ имени Л.Н. Гумилева              <br />
        от @Html.DisplayFor(model => model.ReleaseDate)                         <br />
        Фамилия, имя, отчество соискателя:                                      <br />
        @Html.DisplayFor(model => model.Lname)
        @Html.DisplayFor(model => model.Fname)
        @Html.DisplayFor(model => model.Mname)                                  <br />
        Присуждаемая степень:                                                   <br />
        Доктор Phd по специальности                                             <br />
        @Html.DisplayFor(model => model.MajorCode)
        (Шифр)                                                                  <br />
        @Html.DisplayFor(model => model.MajName)
        (Наименование)                                                          <br />
    </h4>
<div />








    <div>
        <a asp-action="Index">Назад к списку</a> |
    </div>
