@model Phd.Models.PhdStudent



@{
    ViewData["Title"] = "Details";
}
<body align = "center">

<h3>БЮЛЛЕТЕНЬ</h3>

<div>
    <h4>
        к заседанию Диссертационного совета по направлению подготовки кадров    <hr />

        _________________________________________________________________       <hr />
        по защите докторских диссертаций в ЕНУ имени Л.Н. Гумилева              <br />
        от <em>@Html.DisplayFor(model => model.ThesisComDate)  </em> <hr />
        Фамилия, имя, отчество соискателя:                                      <br />
        <b><em>@Html.DisplayFor(model => model.LastName)</b></em>
        <b><em> @Html.DisplayFor(model => model.FirstName)</b></em>
        <b><em>@Html.DisplayFor(model => model.MiddleName)   </b></em>                          <hr />
        Присуждаемая степень:                                                   <br />
        Доктор Phd по специальности                                             <br />
        <b><em>@Html.DisplayFor(model => model.MajorCode)</b></em>

        <b><em>@Html.DisplayFor(model => model.MajorName)</b></em>
                                                      <hr />
    </h4>
<div />

</body>





    <div>
        <a asp-action="Index">Назад к списку</a> |
    </div>
