@model Phd.Models.MajorCodeViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Создать докторанта</a>
</p>

<form asp-controller="PhdStudents" asp-action="Index" method="get">
    <p>
        <select asp-for="MajorCode" asp-items="Model.Codes">
            <option value="">All</option>
        </select>

        Введите фамилию докторанта <input type="text" name="SearchString">
        <input type="submit" value="Поиск" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhdStudents[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhdStudents[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhdStudents[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhdStudents[0].MajorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhdStudents[0].MajorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhdStudents[0].ThesisNameRus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhdStudents[0].ThesisComDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PhdStudents)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThesisNameRus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThesisComDate)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Бюллетень</a>
                <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                <a class="btn btn-sm btn-primary" asp-action="CreateVote" asp-route-id="@item.Id">Голосовать</a>
                <a class="btn btn-sm btn-primary" asp-action="GetReportsAsync" asp-route-id="@item.Id">Результаты</a>
            </td>
        </tr>
        }
    </tbody>
</table>
