@model IEnumerable<Phd.Models.PhdStudent>

@{
    ViewData["Title"] = "Список";
}

<h2>Список докторантов</h2>

@if (User.IsInRole("Ученый секретарь"))
{
<p>
    <a asp-action="Create">Создать докторанта</a>
</p>
}


<form asp-controller="PhdStudents" asp-action="Index" method="get">
    <p>

        Поиск по фамилии <input type="text" name="searchString">

        Поиск по специальности

        <select id="MajorCypher" name="majorCode"> </select>


        <input type="submit" value="Поиск" />
    </p>


</form>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThesisNameRus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThesisComDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDirection)
            </th>
            <th></th>
        </tr>
    </thead>



    <tbody>
        @foreach (var item in Model)
        {
            @if (item.ThesisComDate == DateTime.Today)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MiddleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Major.MajorCypher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Major.MajorCypherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThesisNameRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThesisComDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingDirection.TrainingDirectionCypher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingDirection.TrainingDirectionCypherName)
                    </td>
                </tr>
            <td>



                @if (User.IsInRole("moderator"))
                {




                    <table style="width:100%">
                        <tr>
                            <td><a asp-action="Details" asp-route-id="@item.Id">Бюллетень|</a></td>
                            <!--<td><a asp-action="CreateVote" asp-route-id="@item.Id">Голосовать|</a></td> -->
                            <td><a asp-action="GetReportsAsync" asp-route-id="@item.Id">Результаты|</a></td>
                            <!-- <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a></td> -->
                        </tr>
                    </table>

                }

                else if (User.IsInRole("Ученый секретарь"))
                {

                    <table style="width:100%">
                        <tr>
                            @if (item.ThesisComDate == DateTime.Today)
                            {
                                <td><a asp-action="Details" asp-route-id="@item.Id">Бюллетень| </a></td>
                            }
                            <!--<td><a asp-action="CreateVote" asp-route-id="@item.Id">Голосовать|</a></td> -->
                            <td><a asp-action="GetReportsAsync" asp-route-id="@item.Id">Результаты|</a></td>
                            <td><a asp-action="GetQRCode" asp-route-id="@item.Id">QR-код </a></td>
                            <!-- <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a></td> -->
                        </tr>
                    </table>
                }

                else if (User.IsInRole("Член диссовета"))
                {

                    <table style="width:100%">
                        <tr>
                            @if (item.ThesisComDate == DateTime.Today)
                            {
                                <td><a asp-action="Details" asp-route-id="@item.Id">Бюллетень </a></td>
                                
                            }
                            <!--<td><a asp-action="CreateVote" asp-route-id="@item.Id">Голосовать|</a></td> -->
                            <!-- <td><a asp-action="GetReportsAsync" asp-route-id="@item.Id">Результаты|</a></td>-->
                            <!-- <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a></td> -->
                        </tr>
                    </table>



                }

                else if (User.IsInRole("admin"))
                {
                <td><a asp-action="GetReportsAsync" asp-route-id="@item.Id">Результаты|</a></td>
                <td><a asp-action="GetQRCode" asp-route-id="@item.Id">QR-код </a></td>
            }

            else if (User.IsInRole("user"))
            {
                @if (item.ThesisComDate == DateTime.Today)
                {
                    <a class="btn btn-sm btn-primary" asp-action="CreateVote" asp-route-id="@item.Id">Голосовать</a>
                    <td><a asp-action="GetQRCode" asp-route-id="@item.Id">QR-код </a></td>
                }
            }

                <!--   <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.Id">Удалить</a> -->
                </td>


            }
        }




        </tbody>
    </table>
    @section Scripts {
        <script type="text/javascript">

        setMajors('@Url.Action("GetMajors", "Dictionaries")', '#MajorCypher');
        </script>
    }